.container{
  display:flex;
  align-items: center;
  padding: 0px;
}
.card-title{
  font-size: 1.8em;
}

.summary{
 padding-left: 30px;
}

/******Small devices******/
@media (min-width:768px) and (max-width:991px){
  .container{
    display:block;
  }
  .summary{
    padding: 20px 0px 0px 0px;
  }
}

/******Extra small devices******/
@media (max-width:767px){
  .container{
    display:block;
  }
  .summary{
    padding: 20px 0px 0px 0px;
  }
}