
<div *ngIf="current.summary === ''">
  No data available
</div>
<div *ngIf="current.summary !== ''">
  <div>
    <h4 class="card-title">{{current.name}}</h4>
    <div class="card-body">
      <div class="card-header">{{current.genre}}</div>
      <h6 class="card-subtitle">Average Rating: {{current.rating}}</h6>
    <p class="card-text">Date Released: {{current.date}}</p>
    <div class="container">
      <div>
        <img [src]="current.image"/>
      </div>
      <div class="card-body">
        <p class="summary" [innerHTML]="current.summary"></p>
      </div>
    </div>
  </div>
</div>
