<nav class="navbar bg-primary" data-bs-theme="dark" >
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Look for a TV show</a>

    <form class="search-bar">
        <div>
          <!--take the searchEvent event data and put it through the doSearch function-->
          <app-search-tool (searchEvent)="doSearch($event)"></app-search-tool>
          </div>
    </form>

  </div>
</nav>

<div class="instructions">
  <div>
    <p>Search your favourite TV shows now!</p>
  </div>

  <P></P>
  <P></P>
  <mat-card class="maincard">
  <app-show-search [current]="currentShow"></app-show-search>
  </mat-card>
</div>