<div style="text-align:center;">
  <mat-toolbar color="primary"> TV shows </mat-toolbar>
  <div>
    <p>Search your favourite TV shows now!</p>
  </div>
  <div>
  <!--take the searchEvent event data and put it through the doSearch function-->
  <app-search-tool (searchEvent)="doSearch($event)"></app-search-tool>
  </div>
  <h2>Show name here</h2>
  <mat-card style="max-width: 400px; margin-left: 250px; margin-top:50px;">
  <app-show-search [current]="currentShow"></app-show-search>
  </mat-card>
</div>